@import './../../assets/css/modules/_config';

.hero {
    position: relative;
    
    &__inner {
        height: 20rem !important;
    }

    &__box {

        position: absolute;
        text-align: center;
        padding: 2rem;
        color: #fff;
        line-height: 1.1;
        font-size: $font-normal;
        font-weight: 600;
        z-index: 10;
        /* bottom: 50%; */
        left:0;
        /* transform: translate(-50%); */
    }

    &__btn {
        background-color: $main2;
        color: #fff;
        display: block;
        text-align: center;
        font-size: $font-normal;
        padding: 1.5rem;
        font-weight: 600;
    }
}

.editor-rich-text {
    min-width: 40px;
}
